*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("img/wallpapers/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    min-height: 70px;
    width: 101%;
    background: grey;
    border-bottom: 2px solid white;
}

.background {
    height: 100vh;
    background-image: url("img/wallpapers/James\ 3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.home {
    margin-left: -20px;
}

a {
    position: relative;
    font-size: 38px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-left: 2px solid white;
    padding:0 40px;
}

.left a:first-of-type {
    border-left: none;
}

a:hover {
    color: black;
    transition: .5s;
}

/* a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 80px;
    height: 2%;
    width: 0;
    background-color: red;
    transition: .5s;
}

a:hover::after {
    width: 100%;
} */

.active {
    color: purple;
}

select, .mainbutton {
    padding: 10px;
    font-size: 21.5px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    width: 28%;
    margin-top:5px;
    margin-left: 6%;
    background-color: white;
    outline: none;
}

.mainbutton {
    text-align: center;
}

option {
    font-weight: bold;
}

.carousel { 
    font-weight: bold;
    color: black;
    font-size: 3.1vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-item {
  flex: 0 0 100%;
  transition: transform 0.5s;
}

.carousel-item > p {
    color: white;
    background-color: black;
    font-size: 28px;
    padding: 0 .3%;
}

.carousel img {
    height: 23%;
    cursor: pointer;
}

#smallpic {
    position: absolute;
    bottom: 100px;
    left: 50px;
    cursor: pointer;
}

.second {
    height: 25%;
    object-fit: contain;
}

.label, .label2 {
    margin-top: 20px;
    margin-left: 130px;
    font-size: 21px;
    color: white;
    background-color: black;
    padding-left: .5%;
    width: 130px;
    text-align: center;
}

.label2 {
    opacity: 0;
}

nav.home {
    justify-content: space-between;
}

.menu {
    display: flex;
}

.end a {
    border-left: none;
}

.search-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 0px;
    margin: 20px 30px;
    height: 50px;
}

#searchInput {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black; /* Blue border */
    border-radius: 10px 0 0 10px; /* Rounded corners on the left side */
    outline: none; /* Remove default focus outline */
    width: 250px; /* Width of the input */
    box-shadow: 5px 5px 10px grey;
}

#searchButton {
    padding: 12px 20px;
    font-size: 20px;
    background-color: transparent; /* Blue background */
    color: white;
    border: 3px solid black;
    border-left: none; /* Remove left border */
    border-radius: 0 10px 10px 0; /* Rounded corners on the right side */
    cursor: pointer;
    outline: none;
    box-shadow: 5px 5px 10px grey;
    font-weight: bold;
}

#searchButton:hover {
    color: black;
    background-color: white;
}

#searchInput:focus {
    border-color: black; /* Darker blue border */
    border-right: 3px solid black;
}

#results {
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

    #desc {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: center;
    }
   
.player-wrapper {
    display: flex;
    flex-direction: column;
}

.player {
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    background-color: transparent;
    font-weight: bold;
    height: 600px;
    max-width: 280px;
    box-shadow: -5px 5px 10px black;
    border-color: grey;
}

.bubble {
    display: flex;
    flex-direction: column;
}

.player-info {
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    background-color: transparent;
    font-weight: bold;
    height: 600px;
    max-width: 280px;
    box-shadow: -5px 5px 10px black;
    border-color: grey;
}

.player-info img {
    height: 200px;
    margin-left: -17px;
}

.player img {
    height: 200px;
    margin-left: -17px;
}

.description {
    margin-top: 40px;
    font-weight: bold;
    color: black;
    font-size: 28px;
}


#PG {
    position: absolute;
    left: 43%;               
    top: 48%; /* Updated value */
}

#PG2 {
    position: absolute;
    left: 41%;                
    top: 25%; /* Updated value */
}

#SG {
    position: absolute;
    left: 22%; /* Updated value */                
    top: 63%; 
}

#SG2 {
    position: absolute;
    left: 20%;                
    top: 40%; /* Updated value */
}

#SF {
    position: absolute;
    left: 72%;               
    top: 83%; /* Updated value */
}

#SF2 {
    position: absolute;
    left: 70%;                
    top: 60%; /* Updated value */
}

#PF {
    position: absolute;
    left: 32%;               
    top: 88%; /* Updated value */
}

#PF2 {
    position: absolute;
    left: 30%;                
    top: 65%; /* Updated value */
}

#C {
    position: absolute;
    left: 50%;               
    top: 80%; /* Updated value */
}

#C2 {
    position: absolute;
    left: 48%;                
    top: 57%; /* Updated value */
}

#modal1 {
    position: absolute;
    top: 15%;
    left: 78%;
}

#modal2 {
    position: absolute;
    top: 25%;
    left:52%;
}

#modal3 {
    position: absolute;
    top: 20%;
    left: 78%;
}

#modal4 {
    position: absolute;
    top: 62%;
    left: 57%;
}

#modal5 {
    position: absolute;
    top: 50%;
    left: 72%;
}

#backButton,
#forwardButton {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    border: solid 1px white;
    width: 3%;
    height: 5%;
}

#backButton {
    position: absolute;
    left: 5%;
    top: 35%;
}

#forwardButton {
    position: absolute;
    right: 5%;
    top: 35%;
}
        
@keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fadeIn .75s ease-in-out;
    }

    .modal {
    color: black;
    width: 18%;
    min-height: 15%;
    display: none;
    position: absolute;
    padding: 1%;
    right: 10%;
    top: 15%;
    background-color: darkorange;
    border: 1px solid white;
    border-radius:10%;
    z-index: 100;
    font-size: 18.5px;
}

.side-modal {
    color: black;
    font-weight: bold;
    width: 28%;
    min-height: 10%;
    display: none;
    position: absolute;
    padding: 1%;
    right: 66%;
    top: 27%;
    background-color: darkorange;
    border: 1px solid white;
    border-radius: 20px;
    z-index: 100;
    font-size: 18.5px;
}

.line {
    margin: 10px 0;
    color: black;
}

img, p {
    animation: fadeIn 1.5s ease;
}

#count {
    margin:30px;
}

#results h1 {
    color: black;
}

#results h2 {
    position: absolute;
    top: 80px;
    left: 1375px;
    color: black;
}

h6 {
    font-size: 29px;
    margin-left: 30px;
    margin-bottom: -10px;
    color: black;
}

#pagination {
    text-align: center;
    margin: 30px 0;
}

#pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

#pagination button:hover {
    background-color: grey;
    color: white;
}

.active-page {
  background-color: #007bff; /* Change this to your desired background color */
  color: purple; /* Change this to your desired text color */
}

#retiredFilter {
    position: absolute;
    right: 75px;
    top:130px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: red;
    border: white solid 2px;
    cursor: pointer;
}

.act_players {
    position: absolute;
    right: 120px;
    font-size: 18px;
    top: 135px;
    color: white;
}